html {
    scroll-behavior: smooth;
}

#background_image {
    width: 100%;
    margin-top: 2%;
}

#profileSection {
    width: 70%;
    position: absolute;
    top: 5.5em;
    left: 15%;
}

#myIcon {
    width: 40%;
    margin: 0 auto;
    display: block;
}

#profileName {
    font-size: 5vw;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
}

#profileText {
    font-size: 3vw;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
}

.subheadings {
    font-size: 4vw;
    color: #91705d;
    text-align: center;
    margin-top: 5%;
}

.paragraphContainer {
    width: 70%;
    margin: 2% auto 0 auto;
}

.paragraphs {
    font-size: 2vw;
    text-align: justify;
    color: #475359
}

#projectsContainer {
    width: 80%;
    margin-top: 3%;
    margin-left: 10%;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.projectBox {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    width: 30%;
    border: 1px solid #dce2e5;
    box-shadow: 0.25em 0.25em 0.25em grey;
    zoom: 1
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.boxHeading {
    text-align: center;
    font-size: 3vw;
}

.boxText {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 2%;
    font-size: 1.5vw;
    text-align: center;
    color: #475359
}

.carouselPositioning {
    width: 70%;
    margin: 3% auto;
}

.carouselHeading {
    font-size: 3vw;
    color: white;
    text-shadow: 2px 2px black;
}

.carouselText {
    font-size: 2vw;
    color: white;
    text-shadow: 1px 1px black;
}

#contactTextContainer {
    width: 40%;
    margin-top: 3%;
    margin-left: 35%;
}

.contactText {
    font-size: 2vw;
    text-align: left;
    color: #475359;
}

#logoContainer {
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#logoContainer .icons {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.icons:hover{
    opacity: 0.6;
}

#footerText {
    margin-top: 2%;
    margin-bottom: 0;
    padding-top: 2%;
    color: white;
    text-align: center;
    font-size: 1.5vw;
}
